@using CI_Platform.Models.ViewModels
@model MissionListingVM
@{
    ViewData["Title"] = "_MissionListingPartial";
     Pager _Pager = new Pager();
     if (Model?.Pager != null)
    {
        _Pager = Model.Pager;
    }
}

<!-------------------------------------- Main Content Start----------------------------------------------->
<!-- Cards  -->
<!-- For Explore Bar -->

<div class="text-success" style="display:flex; justify-content:center"><h5>@TempData["MissionSuccess"]</h5></div>

<div class="d-flex" style="justify-content: space-between; margin: 1rem; margin-left: 2rem;">
    <h2>Explore @Model.MissionCount Missions</h2>


    <div class="d-flex">
        <div class="dropdown">
            <button class="btn  dropdown-toggle" name="MissionSort" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 0rem !important; margin-right: 1rem;">
                Sort by
            </button>
            <ul class="dropdown-menu">
                 
                <li><a class="dropdown-item" name="goalBased"href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=highest">Highest Available Seats</a></li>
                <li><a class="dropdown-item" name="timeBased" href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=lowest">Lowest Available seats</a></li>
                <li><a class="dropdown-item" name="goalBased"href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=newest">Newest Missions</a></li>
                <li><a class="dropdown-item" name="goalBased"href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=oldest">Oldest Missions</a></li>
                <li><a class="dropdown-item" name="goalBased"href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=deadline">Registration Deadline</a></li>
                <li><a class="dropdown-item" name="goalBased"href="/Home/LandingPage/@ViewBag.user.UserId?sortOrder=favourite">My Favourites</a></li>

            </ul>
        </div>

        <a href="" onclick="grid()">

            <img src="~/Images/grid.png" alt="grid view" style="width: 2rem;margin-top: 0.5rem;
    margin-right: 1rem;">

        </a>
        <a href="" onclick="list()">

            <img src="~/Images/list.png" alt="list view" style="width: 1.5rem;margin-top: 0.7rem;
    margin-right: 1rem;">

        </a>
    </div>
</div>
<!-- Explore Bar Ends here -->


<div class="album py-5 mx-5 bg-light" id="grid" style="background-color:white!important">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        @foreach (var mission in Model.Missions)
        {
            <div class="missioncard col-12 colleftg-4">
                <div class="card" style="height:100%">



                    <div class="img-event">
                        <img class="card-img-top missionimg"
                         src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" alt="Card image cap">

                        <div class="landing-page-top-left @(mission.userApplied? "":"d-none")">Applied</div>

                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt="">@mission.City</div>

                        <div class="landing-page-bottom-right d-flex flex-column">
                            <a class="mb-2 landing-page-btn-img" onclick="">
                                <i class="bi bi-heart-fill" style=""></i>
                            </a><a class="landing-page-btn-img" data-bs-toggle="modal" id="@mission.MissionId" onclick="" data-bs-target="#exampleModal">
                                <img src="~/images/user.png" alt="">
                            </a>

                        </div>

                        <button class="theme-btn " style="margin-left: -0.5rem;
                                  margin-top: -0.5rem !important;">

                            @mission.Theme

                        </button>
                    </div>




                    <div class="card-body">
                        <h5 class="card-title demo-1 mt-3"><strong>@mission.Title</strong></h5>
                        <p class="card-text demo-2">
                            @mission.ShortDescription
                        </p>
                        <div class="d-flex">
                            <p class="me-auto">@mission.Organization</p>

                            <div class="col-6">
                                <img src="~/Images/selected-star.png" alt="star" class="topstar_padding"> 
                                <img src="~/Images/selected-star.png" alt="star" class="stars">
                                <img src="~/Images/selected-star.png" alt="star" class="stars">
                                <img src="~/Images/star.png" alt="star" class="stars">
                                <img src="~/Images/star.png" alt="star" class="stars">
                            </div>


                        </div>


                        <div class="rule d-flex mt-1">
                            <hr>
                            <button class="date-btn mt-1" style="font-size: .8rem; width:15rem !important; margin-top:-0.5rem !important; margin-left:0rem !important">From @mission.StartDate untill @mission.EndDate</button>
                            <hr>
                        </div>

                        <div class="d-flex">
                            <div class="d-flex me-auto ">
                                <img src="~/images/Seats-left.png" alt="" class="mt-2" style="width: 2.2rem;height: 2.4rem;">
                                <div class="ms-2 ">

                                    @mission.NoOfSeatsLeft
                                    <fs-2></fs-2><br>
                                    <fs-5> Seats left</fs-5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">

                                @if (mission.missionType == "Time")
                                {
                                    <img src="~/images/deadline.png" alt="" class="mt-2">
                                    <div class="ms-2 ">
                                        <fs-2></fs-2><br>
                                        <fs-5>Deadline</fs-5>
                                    </div>
                                }
                                else
                                {
                                    <img src="~/images/mission.png" style="width: 2.2rem;height: 2.4rem;" alt="" class="mt-2">
                                    <div class="ms-2" style="width:11vw;">
                                        <div class="progress mt-2" role="progressbar" style="width:10vw;" aria-label="Example with label" aria-valuenow=@mission.progress aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-warning" style="width:@mission.progress%"><span style="color:black">@mission.progress%</span></div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                        <hr>
                        <a class="applybtn d-flex" style="width:fit-content; text-decoration:none" href="/Home/MissionDetailPage/@ViewBag.user.UserId?missionId=@mission.MissionId">
                            <span class="applytxt">Apply</span>
                            <div>
                                <img src="~/images/right-arrow.png" alt="">
                            </div>
                        </a>


                    </div>

                </div>
            </div>

        }
    </div>
</div>



<div id="list" class="d-none">
    @foreach (var mission in Model.Missions)
    {
        <div class="mb-2">
            <div style="display: flex;" class="row-card">
                <div class="image">
                    <img src="~/Images/Plantation-and-Afforestation-programme-1.png"
                     alt="" height="300">
                </div>

                <div class="card-body ms-5">
                    <div class="wrap justify-content-between mt-4">
                        <div class="sub-wrap">
                            <div class="location">
                                <img src="~/Images/pin1.png" alt="location"
                                 class="logo-text">
                                <p class="line-text">@mission.City</p>
                            </div>

                            <div class="location">
                                <img src="~/Images/web.png" alt="location"
                                 class="logo-text logo-text-m">
                                <p class="line-text">@mission.Theme</p>
                            </div>

                            <div class="location">
                                <img src="~/Images/organization.png" alt="location"
                                 class="logo-text logo-text-m">
                                <p class="line-text">@mission.Organization</p>
                            </div>
                        </div>



                        <div class="location me-5">
                            <img src="~/Images/selected-star.png" alt="star"
                             class="stars star_padding" style="width:1.5rem; height:1.5rem;">
                            <img src="~/Images/selected-star.png" alt="star"
                             class="stars" style="width:1.5rem; height:1.5rem;">
                            <img src="~/Images/selected-star.png" alt="star"
                             class="stars" style="width:1.5rem; height:1.5rem;">
                            <img src="~/Images/selected-star.png" alt="star"
                             class="stars" style="width:1.5rem; height:1.5rem;">
                            <img src="~/Images/selected-star.png" alt="star"
                             class="stars" style="width:1.5rem; height:1.5rem;">
                        </div>

                    </div>


                    <h3>@mission.Title</h3>
                    <p class="aim-text">@mission.GoalAim</p>



                    <div class="row">
                        <div class="seats_container col-2">
                            <img src="~/Images/Seats-left.png" alt="seats left" class="seats_left_img">
                            <div class="no_and_text">
                                <p class="seats_no">@mission.NoOfSeatsLeft</p>
                                <p class="seats_text">Seats left</p>
                            </div>
                        </div>

                        <div class="col-2 set">
                            <img src="~/Images/achieved.png" alt="achieved-img" class="seats_left_img">


                            <p class="seats_text achieved">Achieved</p>

                        </div>


                        <div class="progress col-1 progressBar_color mt-1" role="progressbar" aria-label="Info example"
                         aria-valuenow="@mission.progress" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar " style="width: @mission.progress%; background-color: #F88634;">@mission.progress%</div><br>
                        </div>

                        <div class="seats_container col-2">
                            <img src="~/Images/calender.png" alt="seats left" class="seats_left_img">
                            <div class="no_and_text">
                                <p class="seats_text">From @mission.StartDate</p>
                                <p class="seats_text">Until @mission.EndDate</p>
                            </div>
                        </div>

                        <div class="seats_container col-2" >
                           <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16" style="color:grey;">
  <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
</svg>
                            <div class="no_and_text">
                                <p class="seats_text">Skills</p>
                                <p class="seats_text">Botany</p>
                            </div>
                        </div>

                        <a href="/Home/MissionDetailPage/@ViewBag.user.UserId?missionId=@mission.MissionId"  style="margin-top:0.65rem;width: 13rem !important; height: 4rem !important; border:solid; border-width:1px; border-radius:50px;border-color:darkorange;text-decoration:none">
                            <div class="apply_btn" style=" margin-top:0.5rem">
                                <p class="apply_btn_text">View details </p>&nbsp; &nbsp;&nbsp
                                <img src="~/Images/right-arrow.png" alt="apply"
                                 style="height: 1rem; margin-top: 0.9rem; margin-left: 0.5rem;">
                            </div>

                            @* <a class="applybtn d-flex" style="width:fit-content; text-decoration:none" href="/Home/MissionDetailPage/@ViewBag.user.UserId">
                            <span class="applytxt">Apply</span>*@

                        </a>
                    </div>

                </div>
            </div>
        </div>


    }
</div>



<!-- Cards End -->
<!--------------------------------- Using Albums from Bootstrap------------------>
<!--------------------------------- Album Finished ------------------------------>
<!-------------------------------------- Main Content Closed----------------------------------------------->
<!-------------------------------------- Pagination Start----------------------------------------------->


<div style="display:flex; align-items:center">
    <form method="post" id="pagination-form">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center column-gap-2">
                        @if (_Pager.CurrentPage >= 4)
                        {
                            <li class="page-item">
                                <input class="d-none" type="radio" name="pg" id="pg-firstPg" value=1 />
                                <label class="page-link rounded" for="pg-firstPg" aria-label="FirstPage">
                                    <i class="bi bi-chevron-double-left"></i>
                                </label>
                            </li>
                        }
                        @if (_Pager.CurrentPage > 1)
                        {
                            <li class="page-item d-none d-sm-block">
                                <input class="d-none" type="radio" name="pg" id="pg-prev" value=@(_Pager.CurrentPage - 1) />
                                <label class="page-link rounded" for="pg-prev" aria-label="Previous">
                                    <i class="bi bi-chevron-left"></i>
                                </label>
                            </li>
                        }
                        @for (var i = _Pager.StartPage; i <= _Pager.EndPage; i++)
                        {
                            // Determine if the current link should be active
                            string activeClass = (i == _Pager.CurrentPage) ? "active" : "";
                            // Display the page link with the appropriate class
                            <li class="page-item @activeClass">
                                @if (activeClass == "active")
                                {
                                    <input class="d-none" type="radio" id="pg-@i" name="pg" value=@i checked />
                                }
                                else
                                {
                                    <input class="d-none" type="radio" id="pg-@i" name="pg" value=@i />
                                }
                                <label for="pg-@i" class="page-link rounded">@i</label>
                            </li>
                        }
                        @if (_Pager.CurrentPage < _Pager.TotalPages)
                        {
                            <li class="page-item d-none d-sm-block">
                                <input class="d-none" type="radio" name="pg" id="pg-next" value=@(_Pager.CurrentPage + 1) />
                                <label class="page-link rounded" for="pg-next" aria-label="Next">
                                    <i class="bi bi-chevron-right"></i>
                                </label>
                            </li>
                        }
                        @if (_Pager.CurrentPage <= _Pager.TotalPages - 3)
                        {
                            <li class="page-item">
                                <input class="d-none" type="radio" name="pg" id="pg-lastPg" value=@(_Pager.TotalPages) />
                                <label class="page-link rounded" for="pg-lastPg" aria-label="LastPage">
                                    <i class="bi bi-chevron-double-right"></i>
                                </label>
                            </li>
                        }
                    </ul>
                </nav>
            </form>
</div>
 
<!-------------------------------------- Pagination Closed----------------------------------------------->
<script>
    $('#pagination-form').on('change', 'input[name="pg"]', (e) => filterMission(e))
</script>