@*
@{
    Layout = "_none";
}*@

@using CI_Platform.Models.ViewModels
 
@model List<SavedStoriesVM>


 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Listing Page | Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StoryListingPage.css">
</head>
<body>

    
 

  <div class="row" style="width: 100%;">
    <form id="filterForm" class="d-flex">
  <div class="search_b col-6">
    <img src="~/Images/search.png" alt="search_icon" class="search_img">
   
   
      <!-- <input type=" text" placeholder="Search mission..." class="search_width"> -->
    <input class="form-control search_width" name="SearchInput" type="search" placeholder="Search mission..." aria-label="Search">



  </div>


  <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
  <div class="col-1 pad_0">
    <div class="card">

      <a class="nav-link dropdown-toggle big_button" href="#" data-bs-toggle="dropdown"
top aria-expanded="false">Country</a>
      <ul class="dropdown-menu overflow-y-auto" style="height:200px">
          @foreach(var country in ViewBag.Countries)
          {
                          
                          <input type="checkbox" id="@country.CountryId" name="CountryFilter" value="@country.CountryId">
                          <label for="@country.CountryId"> @country.Name</label><br>
          }
         
      </ul>

    </div>
  </div>
  <div class="col-1 pad_0">
    <div class="card">

      <a class="nav-link dropdown-toggle big_button" href="#" data-bs-toggle="dropdown" aria-expanded="false">City</a>
      <ul class="dropdown-menu overflow-y-auto" style="height:200px">
          @foreach(var city in ViewBag.Cities)
          {
        <input type="checkbox" id="@city.CityId" name="CityFilter" value="@city.CityId">
        <label for="@city.CityId"> @city.Name </label><br>
          }
         
      </ul>

    </div>
  </div>

  <div class="col-1 pad_0">
    <div class="card">

      <a class="nav-link dropdown-toggle big_button" href="#" data-bs-toggle="dropdown"
        aria-expanded="false">Theme</a>
      <ul class="dropdown-menu overflow-y-auto" style="height:200px">
          @foreach(var theme in ViewBag.Themes)
          {
        <input type="checkbox" id="@theme.MissionThemeId" name="MissionThemeFilter" value="@theme.MissionThemeId">
        <label for="@theme.MissionThemeId"> @theme.Title</label><br>
          }
         
      </ul>

    </div>
  </div>

  <div class="col-1 pad_0">
    <div class="card">

      <a class="nav-link dropdown-toggle big_button" href="#" data-bs-toggle="dropdown"
        aria-expanded="false">Skills</a>
      <ul class="dropdown-menu overflow-y-auto" style="height:200px">                                                     
          @foreach(var skill in ViewBag.Skills)
          {
        <input type="checkbox" id="@skill.SkillId" name="MissionSkillFilter" value="@skill.SkillId">
        <label for="@skill.SkillId"> @skill.SkillName</label><br>
         
          }
        
      </ul>

    </div>
  </div>
  </form>
  <div class="col-1">
    <!-- Demo div, it'll be removed very soon! -->
  </div>
</div>


    <main>
    
      <div class="poster" style="position: relative;">
        <img src="~/Images/Grow-trees-1-CROPPED.png" alt="Grow trees img" style="height:400px;width: 100%; ">

        <div class="cntent" style="margin-top:-16.5rem; position: absolute;">
          <p class="txt" style="color:white; justify-content: center;padding-left: 10rem; padding-right: 10rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, autem molestiae unde laborum repellendus veniam accusamus cumque earum consequatur harum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate earum porro ex vero velit doloribus? </p>
        <br>
        <div style="margin-left: 50rem;">
        <a href="/Home/ShareYourStoryPage/@ViewBag.user.UserId" class=" d-flex" style="text-decoration:none;border-style: solid;border-width: 3px;border-radius: 50px;width: 12rem;border-color: white; align-items: center;justify-content: center;" >
          <div style="color:white; "><b>Share your Story</b> </div><div class="img" style="margin-left: 0.5rem;"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg> </div> 
        </a></div></div>
        
      </div>


      <!-- Taking Bootstrap albums -->
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

              @foreach (var Story in Model)
              {
                  <div class="col">
 
              <div class="card shadow-sm">
                  
                  <a href="/Home/StoryDetailPage/@ViewBag.user.UserId?storyId=@Story.StoryId">
                  <img src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" style="position:relative; width:100%"> 
                    </a>

                  <div class="View-details d-flex" style="position:absolute;margin-left: 8.7rem;margin-top: 7.38rem;">
                     <a style="margin-top:0.3rem; font-size:14px; margin-top:0.2rem;margin:0;color:white">View Details</a> 
                     <div class="right-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" style="margin-top:-0.3rem" fill="white" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg> 

                  </div>
                  </div>
                  <div class="note" style="border-style:solid; border-width:1px; border-radius:50px;border-color:white; position:absolute; margin-top:15rem; margin-left:10.7rem; background-color:white; padding-left:0.5rem;padding-right:0.5rem">
                      <p class="sticker">@Story.MissionTheme</p>
                  </div>
                 <div class="card-body" style="margin-left:1rem!important">
                  <p class="card-text">@Story.Title</p>
                  <p>@Html.Raw(@Story.Description)</p>
                   <div class="User d-flex" style="margin-bottom:1rem">
                       <div>
                            <img src="~/Images/volunteer1.png"  class="User_Img" />
                       </div>
                       <div class="User_Name">
                           @Story.AuthorFirstName @Story.AuthorLastName
                       </div>  
                   </div>
                </div>
              </div>
            </div>
              }
 
            
          </div>
        </div>
      </div>

    </main>

   @* <footer>
        <hr>
        <span class="footer_link"><a   target="_main" class="footer_text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a></span>
      </footer>*@
    
   
</body>
</html>